body{
    text-align: center;
    background-color: rgba(86, 39, 129) ;
    
    color: white;
}

p {
    width: 50%;
    margin: auto;
}

img {
    width: 50px;
    height: 50px;
}

h3 {
    color: rgb(115, 178, 203);

}



column {
    float: left;
    width: 25%;
    text-align: center;
    
}


@media screen and (max-width:900px) {
    .column {
        width: 50%;
    }
    
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }    
}